---
# Purpose: Postfix main tasks
# Last Updated: 2018.06.11
# Notes:


- include_tasks: os_vars.yml

- include_tasks: postfix_install.yml

- include_tasks: postfix_configure_server.yml
  when: server_type == "email"

- include_tasks: postfix_configure_slave.yml
  when: postfix_slave|bool
